html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: 0px auto;
  background-color: burlywood;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

h1,
h2,
p,
ul,
ol,
.container > a {
  margin: 20px;
}

nav,
.footer {
  padding: 30px;
  text-align: center;
}
